<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safires.freakyfreshkutz">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5129534325274948~5522634317"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
